/* 
CSS for dummies 
p means paragraph
h1 means header 1
h2 means header 2 and so on

in html p means the basic text
h1 is the big title with # in the markdown
h2 is the sub title with ## in the markdown and so on
li is list item

to figure out more about tags take a look into the out.html and read the tags
 */

/* text immer links */
.reveal p {
    text-align: left;
}

/* bilder immer zentriert */
.reveal img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* font-size fuer ueberschriften allgemein */
.reveal .slide h1 { 
    font-size: 300%;
}

.reveal .slide h2 { 
    font-size: 150%;
}

/* listen */


#vergleich-von-ähnlichkeitsmaßen-3 li {
    font-size: 70%;
}

#vergleich-von-ähnlichkeitsmaßen-4 li {
    font-size: 50%;
}

 #trainingsalgorithmus-minimax li {
    font-size: 70%;
}

.reveal p {
text-align: left;
}

.title-slide > p > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slide > p > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reveal ul {
    display: block;
}

.reveal ol {
    display: block;
}


#title-slide h1 {
    font-size: 250%;
}

#title-slide p {
    font-size: 50%;
    margin: 0;
}

/* auf der titelslide alles mittig zentriert */
#title-slide .date, #title-slide .author {
    text-align: center;
}

#title-slide .institute  {
    text-align: center;
    font-size: 100%;
}

/* datum speziell formatiert */
#title-slide .date {
    font-size: 75%;
    margin-top: 20px;
}

/* url der beispiele von philipp zentrieren */
#section-2 p, #section-3 p {
    text-align: center;
}


#zusammenfassung h1 {
    font-size: 250%;
}
